html, body {
    margin: 0;
    padding: 0;
    background-image: url('/war/img/table.png');
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

.draw {
    font-size: 1.2em;
    padding: 5px;
}

.new-deck {
    align-self: flex-start;
    padding: 5px;
}